@use "./partials/faq-question-partial.scss";

.faq-component {
  padding: 111px 0;
  width: 100%;
  max-width: 772px;
  & &__title {
    width: 336px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
  }

  & &__questions {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 992px) {
    padding: 303px 31px;
  }
  @media (max-width: 400px) {
    padding: 67px 16px;
    & &__title {
      font-size: 24px;
      line-height: 120%;
    }
  }
}
